<div class="header-wrapper">
    <header class="header">
        <div class="header-wrapper">
            <div class="header-img-wrapper"><a class="header-link" href="/"><img class="header-img" src="/img/leaf.png" alt="Лист"></a></div>
            <div class="header-text">Биологический глоссарий</div>
        </div>
    </header>
</div>