<a class="button-link" href="/prefixes/">Список корней</a>

<div class="adding-prefix-form-wrapper">
    <form class="form prefixes-form" action="addPrefix" method="POST" class="adding-prefix-form">
        <label class="text-field__label" for="prefix_field">Корень</label>
        <input class="text-field__input" type="text" name="prefix_field" id="prefix_field">

        <label class="text-field__label" for="prefix_lat_field">Латынь</label>
        <input class="text-field__input" type="text" name="prefix_lat_field" id="prefix_lat_field">

        <label class="text-field__label" for="prefix_def_field">Определение</label>
        <textarea class="text-field_area" type="text" name="prefix_def_field" id="prefix_def_field" rows="10"></textarea>
        <input class="button" value = "Внести корень" type="submit">
    </form>
</div>